@use "sass:color";
@use "sass:map";
@import "~/src/variables";
@import "~/src/global";

$tag-config: (
  primary: (class: "primary",
  color: $primary-color),
  secondary: (class:"secondary",
  color: $secondary-color),
  success: (class :"success",
  color: $success-color)
);

.tag {
  @each $key,
    $value in $tag-config {
    $class: map.get($value, class);
    $color: map.get($value, color);

    &--#{$class} {
      background-color: $color;
    }
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding: 0.6em 1em;
  border-radius: 0.8em;
  color: #fff;
  font-size: 0.6rem;
  cursor: pointer;
  transition: filter 0.3s;

  &:hover {
    filter: brightness(85%);
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 0 0.5em;
    font-size: 1.4em;

    * {
      color: white;
    }
  }

  &__text {
    color: #fff;
    font-size: 1em;
  }

  &--sm {
    font-size: 0.03em;
  }

  &:disabled,
  &:disabled * {
    cursor: default;

    &:hover {
      filter: brightness(100%);
    }
  }
}
