@import '../../_variables';
@import '../../_global';

.tag {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: fit-content;
  height: 1.25rem;
  padding: 1.2em 1em;
  margin: 0;
  border-radius: 0.8em;

  color: #FFF;

  transition: filter 0.3s;

  cursor: pointer;

  &:hover {
    filter: brightness(85%);
  }

  &--primary {
    background-color: $primary-color;
  }

  &--success {
    background-color: $success-color;
  }

  &--secondary {
    background-color: $secondary-color;
  }

  &__icon * {
    color: white;
    font-size: 1.4em;
  }

  &__text {
    color: #FFFFFF;

  }

  &--sm {
    font-size: 0.03em;
  }

  &:disabled,
  &:disabled * {

    cursor: default;

    &:hover {
      filter: brightness(100%);
    }

  }
}