@import '../../_variables';
@import '../../_global';

.tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  height: 1.25rem;
  padding: 10px 15px;
  border-radius: 1rem;

  color: #FFF;

  font-size: 15px;

  cursor: pointer;

  @include normalize-font;

  &:hover{
    @include effect-darker;
  }

  &--primary {
    background-color: $primary-color;
  }
  &--success {
    background-color: $success-color;
  }
  &--secondary {
    background-color: $secondary-color;
  }
}

.tag__text {
  color: #FFFFFF;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  @include fit-container;
}

@include bg-color;