@import "~/src/variables";
@import "~/src/global";

.navbar__user-auth {
  @include media(mobile, tablet) {
    flex-direction: column;
    margin-top: auto;

    &__logout {
      order: 2;
    }
  }

  @include media(desktop, laptop) {
    margin-left: auto;
  }

  display: flex;
  gap: 10px;
  font-size: 0.8rem;
}
