@import "/src/styles/variables";
@import "/src/styles/global";

.pagination {
  @include container-main;

  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 1em auto;
  font-size: 0.8em;

  &__main {
    flex: 0 0 auto;
    align-items: flex-end;
  }

  &__item {
    display: flex;
    gap: 1em;
  }

  &__prev,
  &__next {
    opacity: 0;

    &--active {
      opacity: 1;
    }
  }
}
