@import '~/src/_variables';
@import '~/src/_global';
@import '~/src/_variables';

.navbar {

  &__container {

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 30em;

    background-color: white;

    @include media(mobile, tablet) {
      display: none;
      flex-direction: column;
      width: 100%;

      &--expended {
        position: absolute;
        top: 5em;
        right: 0;
        left: 0;
        z-index: $zindex-modal-panel;

        display: flex;
        align-items: flex-end;
        gap: 1em;

        padding-bottom: 0.5em;
        padding-right: 1em;

        background-color: white;
      }
    }
  }

  &__items {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    gap: 1em;

    >* {
      flex-grow: 0.5;

    }
  }

  &__user {
    display: flex
  }

  &__toggle-button {
    display: none;
    font-size: 2em;

    @include media(mobile, tablet) {
      display: block
    }
  }





  &__backdrop {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: $zindex-modal-backdrop;
    background-color: transparent;
  }
}