@import '~/src/_variables';
@import '~/src/_global';

.detail__properties {
  @include media(laptop, desktop) {
    margin-left: 1em;
  }

  @include media(mobile, tablet) {
    padding: 0;
  }

  >:not(:last-child) {
    border-bottom: 1px solid $primary-font-color;
    margin-bottom: 0.5em;
    padding-bottom: .5em;
  }
}