@import '~/src/_variables';
@import '~/src/_global';

.login-container {
  display: flex;
  height: 60vh;  
}

.login-section-container {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  scale: 0.8;
}