@import "/src/styles/variables";
@import "/src/styles/global";

.search-history {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__head,
  &__item {
    display: flex;
    gap: 0.5em;
    padding: 0 1em;
    text-align: left;
  }

  &__head {
    align-items: center;
    border-bottom: 2px solid $tertiary-font-color;
  }

  &__item {
    align-items: center;
    font-size: 0.7em;
  }

  &__checkbox,
  &__navigate {
    display: flex;
    justify-content: center;
    width: 10%;
  }

  &__keyword {
    overflow: hidden;
    width: 30%;
    text-overflow: ellipsis;
  }

  &__tag {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    overflow: hidden;
    width: 50%;

    * {
      flex-shrink: 0;
    }
  }
}
