@use "sass:color";
@import "/src/styles/variables";
@import "/src/styles/global";

.search-history {
  display: flex;
  flex-direction: column;
  width: 100%;

  // column style
  &__col {
    display: flex;
    gap: 0.5em;
    align-items: center;
    text-align: left;
  }

  &__head {
    border-bottom: 2px solid $tertiary-font-color;
  }

  &__item {
    padding: 0.4em 0;
    font-size: 0.7em;
  }

  &__checkbox,
  &__navigate {
    display: flex;
    justify-content: center;
    width: 10%;
  }

  &__navigate {
    font-size: 0.8em;
  }

  &__keyword {
    overflow: hidden;
    width: 20%;
    text-overflow: ellipsis;
  }

  &__tag {
    display: flex;
    flex-shrink: 1;
    flex-wrap: wrap;
    gap: 1em;
    overflow: hidden;
    width: 40%;

    * {
      flex-shrink: 0;
    }
  }

  &__time {
    width: fit-content;
    cursor: default;
  }
}
