@import "/src/styles/variables";
@import "/src/styles/global";

.sidebar-link {
  display: flex;
  gap: 0.5em;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  border-radius: 0.2em;
  font-size: 1em;

  &.active,
  &:hover {
    background-color: $secondary-dilute-color;
  }

  &__icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
  }

  &__text {
    display: flex;
    width: max-content;
  }
}
