@import "/src/styles/variables";
@import "/src/styles/global";

.result {
  @include container-main;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__relative,
  &__other {
    @include media(mobile, tablet) {
      justify-content: flex-start;
    }

    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    width: 100%;
  }

  &__item {
    @include media(mobile,tablet) {
      flex-grow: 1;
    }
  }

  h2 {
    display: flex;
    justify-content: center;
    margin: 1em 0;
    font-weight: bold;
  }
}
