.detail__tags {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin: 1em;

  &__group {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
}
