@import '../../variables';

$_primary-hover-color: #FBE0B4;
$_secondary-hover-color: #B0CDF9;
$_button-hover-duration: 0.3s;

// button base
@mixin buttonBase{
  padding: 0.6em 1em;
  border-radius: 0.8em;
  letter-spacing: 1px;
  font-size: 1em;
  width: fit-content;
  transition-duration: $_button-hover-duration;
  cursor: pointer;
}

@mixin setColor ($borderColor, $textColor, $bgColor) {
    border: 2px $borderColor solid;
    background-color: $bgColor;
    color: $textColor;
  }
  
  
.button{
  @include buttonBase;
  &--lg{
    font-size: 1.5em;
  }
  &--sm{
    font-size: 0.8em;
  }
}
  
.button--primary {
  
  @include setColor($primary-color, white, $primary-color);
  &:hover:not([disabled]){
    @include setColor($primary-color, $primary-color, white);
  }

  //button--primary button--outline
  &.button--outline{
    @include setColor($primary-color, $primary-color, white);
    &:hover:not([disabled]){
      @include setColor($primary-color, white, $_primary-hover-color);
    }
  }
}
      
.button--secondary {

  @include setColor($secondary-color, white, $secondary-color);
  &:hover:not([disabled]){
    @include setColor($secondary-color, $secondary-color, white)
  }
  
  //button--primary button--outline
  &.button--outline{
    @include setColor($secondary-color, $secondary-color, white);
    &:hover:not([disabled]){
      @include setColor($secondary-color,white, $_secondary-hover-color);
    }
  }
}


:disabled {
  opacity: 0.5;
  cursor: not-allowed
}

    // &--secondary--default {
    //     @include button--base($secondary-color, #FFF, $secondary-color);

    //     &:hover {
    //         @include button--secondary--hover();
    //     }
    // }

    // ;

    // &--primary--outline {
    //     @include button--base($primary-color, $primary-color, #fff);

    //     &:hover {
    //         @include button--primary--hover();
    //     }
    // }

    // &--secondary--outline {
    //     @include button--base($secondary-color, $secondary-color, #fff);

    //     &:hover {
    //         @include button--secondary--hover();
    //     }
    // }

    // &--primary--small {
    //     @include button--small($primary-color, $primary-color, #fff);

    //     &:hover {
    //         @include button--primary--hover();
    //     }
    // }

    // &--secondary--small {
    //     @include button--small($secondary-color, $secondary-color, #fff);

    //     &:hover {
    //         @include button--secondary--hover();
    //     }
    // }


