@import "~/src/variables";

$btn-config: (
  primary:(class: "primary",
  color: white,
  bg: $primary-color,
),
secondary:(class: "secondary",
color: white,
bg: $secondary-color,
),
success:(class: "success",
color: white,
bg: $success-color,
),
dark:(class: "dark",
color: white,
bg: $primary-font-color,
),
white:(class: "white",
color:$primary-font-color,
bg: white, ),
danger:(class:"danger",
color: white,
bg:$danger-color)
);

@mixin set-color($borderColor, $textColor, $bgColor) {
  color: $textColor;
  background-color: $bgColor;
  border: 2px $borderColor solid;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6em 1.8em;
  width: fit-content;
  height: fit-content;
  font-size: 1em;
  border-radius: 0.8em;
  gap: 10px;
  letter-spacing: 1px;
  transition-duration: 0.3s;
  cursor: pointer;

  &--lg {
    font-size: 1.5em;
  }

  &--sm {
    padding: 0.4em 1.8em;
    font-size: 0.8em;
  }

  // default variant
  @each $name,
    $value in $btn-config {
    $class: map.get($value, class);
    $color: map.get($value, color);
    $bg: map.get($value, bg);

    &--#{$class} {
      @include set-color($bg, $color, $bg);

      &:hover:not([disabled]) {
        background-color: color.adjust($color, $lightness: -10%);
        border-color: color.adjust($color, $lightness: -10%);
      }
    }
  }

  // outline variant
  &.button--outline {
    @each $name,
      $value in $btn-config {
      $class: map.get($value, class);
      $color: map.get($value, color);
      $bg: map.get($value, bg);

      &.button--#{$class} {
        @include set-color($bg, $bg, $color);

        &:hover:not([disabled]) {
          background-color: color.adjust($color, $lightness: 30%);
        }
      }
    }
  }

  // round variant
  &.button--round {
    padding: 1em;
    width: 40px !important;
    height: 40px;
    border-radius: 50%;
  }

  // reverse color variant
  &.button--reverse-color {
    @each $name,
      $value in $btn-config {
      $class: map.get($value, class);
      $color: map.get($value, color);
      $bg: map.get($value, bg);

      &.button--#{$class} {
        @include set-color($color, $bg, $color);

        &:hover:not([disabled]) {
          background-color: color.adjust($color, $lightness: -10%);
        }
      }
    }
  }

  * {
    text-align: center;
    color: inherit;
    background-color: transparent;
  }

  &__icon {
    display: flex;
    align-items: center;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
