@import "/src/styles/variables";
@import "/src/styles/global";

.search-history-item {
  @include media(mobile) {
    flex-direction: column;
    gap: 1em;
    width: 10rem;
    padding: 1rem;
  }

  display: flex;
  align-items: center;
  padding: 1em;
  border: 1px solid $secondary-font-color;
  border-radius: 0.3em;

  &:hover {
    background-color: rgb(207 207 207 / 32%);
    box-shadow: rgb(99 99 99 / 20%) 0 2px 8px 0;
  }

  &__keyword {
    flex-grow: 0.6;
  }

  &__tags {
    display: flex;
    flex-grow: 0.3;
    gap: 0.5em;
  }

  &__button {
    button {
      white-space: nowrap;
    }
  }
}
