@import "/src/styles/variables";
@import "/src/styles/global";

.detail-tag {
  display: flex;
  flex-direction: row;
  gap: 1em;
  width: fit-content;
  margin: 1em 0;
  cursor: default;

  &__hashtag {
    width: fit-content;
  }

  &__text {
    display: flex;
    flex-direction: column;

    &__title {
      font-weight: bold;
      font-size: 1.1em;

      &:hover {
        text-decoration: underline;
      }
    }

    &__description {
      color: $secondary-font-color;
      font-size: 0.8em;
    }
  }
}
