@import "/src/styles/variables";
@import "/src/styles/global";

input {
  border: 0;
  outline: 0;
}

@keyframes rotate {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.register-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 90vh;
  margin-bottom: 3rem;
}

.register-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  height: 84vh;
  margin-top: 1rem;

  &__title {
    align-self: center;
    margin-top: 1rem;
    font-weight: 600;
    font-size: 2.5rem;
  }

  &__text-field {
    width: 100%;
    max-width: 20rem;
    margin-top: 1rem;
  }

  &__tag {
    align-self: flex-end;
    margin-top: 2px;
    opacity: 0.8;
  }

  &__button {
    align-self: center;
    margin-top: 2rem;
  }

  &__register-error {
    width: 100%;
    max-width: 20rem;
    margin-top: 0.5rem;
    color: rgb(216 14 14);

    &__symbol {
      margin-left: 0.25rem;
      color: rgb(216 14 14);
    }
  }

  &__err-msg-section {
    width: 100%;
  }

  &__err-msg {
    font-weight: 600;
  }

  &__load-animation {
    width: 50px;
    height: 50px;
    margin: 2rem  0;
    border: solid 9px $primary-color;
    border-right-color: transparent;

    // border-left-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;

    // transition: all 0.5s ease-in;
    animation-name: rotate;

    // -webkit-transition: all 0.5s ease-in;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
}

@media screen and (max-width: 650px) {
  .register-section {
    width: 80vw;
  }
}

@media screen and (min-width: 800px) {
  .register-section {
    width: 352px;
  }
}
