@import '~/src/_variables';
@import '~/src/_global';

$_hover-color: #FEF6D8;

.manage-nav {
  position: relative;

  display: flex;
  min-width: 8rem;
  align-items: center;
  justify-content: space-between;
  padding: .8rem 1.5rem;

  font-size: 1.25rem;
  font-weight: 400;

  transition: all 0.5s ease;

  // test
  margin: 40px;
  // border: 1px solid $secondary-font-color;
  // test

  @include fit-container;

  &__icon {
    scale: 2;
    @include items-center;
    @include fit-container;
  }

  &:hover {
    transform: scale(1.15);
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 0;
    height: 1.5px;
    background-color: #000;
  }
  &:active::after {
    width: 100%;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}