.user-basic {
  margin: 2rem 5%;
  font-size: 1.2em;

  &__input {
    margin: 1em;
  }

  &__container {
    display: flex;
    justify-content: space-around;

    &--column {
      display: flex;
      flex-direction: column;
      margin: 0 15px;
    }
  }
}