@import '../../variables';

$_primary-hover-color: #FBE0B4;
$_secondary-hover-color: #B0CDF9;
$_button-fontSize: 20px;

// button base
@mixin button--base ($borderColor, $textColor, $bgColor) {
    border: 2px $borderColor solid;
    background-color: $bgColor;
    color: $textColor;
    padding: 0 39px;
    border-radius: 21px;
    font-size: $_button-fontSize;
    letter-spacing: 1px;
}
@mixin button--small($borderColor, $textColor ,$bgColor) {
    width: 108.74px;
    height: 41.36px;
    padding: 0;
    border: 1px $borderColor solid;
    border-radius: 21px;
    
    background-color: $bgColor;
    color: $textColor;
    
    font-size: 15.32px;
}
@mixin button--primary--hover {
    border: 2px $primary-color solid;
    background-color: #FFF;
    color: $primary-color;
}

@mixin button--secondary--hover {
    border: 2px $secondary-color solid;
    background-color: #FFF;
    color: $secondary-color;
}

.button {
    width: 141px;
    height: 54px;

    //test
    margin: 20px;

    &--primary--default {
        @include button--base($primary-color, #FFF, $primary-color);

        &:hover {
            @include button--primary--hover();
        }
    };

    &--secondary--default {
        @include button--base($secondary-color, #FFF, $secondary-color);

        &:hover {
            @include button--secondary--hover();
        }
    };

    &--primary--outline {
        @include button--base($primary-color, $primary-color, #fff);

        &:hover {
            @include button--primary--hover();
        }
    }

    &--secondary--outline {
        @include button--base($secondary-color, $secondary-color, #fff);

        &:hover {
            @include button--secondary--hover();
        }
    }

    &--primary--small {
        @include button--small($primary-color, $primary-color, #fff);

        &:hover {
            @include button--primary--hover();
        }
    }

    &--secondary--small {
        @include button--small($secondary-color, $secondary-color, #fff);

        &:hover {
            @include button--secondary--hover();
        }
    }
}