@import '../../../../variables';

@mixin inputSection--container {
  width: 589px;
  height: 4rem;
}

@mixin inputSection--base {
  border: 1px solid $secondary-font-color;
  border-radius: 15px;
  padding: 13px 10px 13px 54px;
}

@mixin formFontStyle {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 29px;
}

.inputSection {
  position: absolute;
  bottom: 0;

  width: 589px;
  height: 88px;

  @include formFontStyle;

  &::placeholder {
    color: $secondary-font-color;
  }
}

.inputSection--default,
.inputSection--withButton,
.inputSection--withoutLabel {
  @include inputSection--container();
  @include inputSection--base();
}

.inputSection__button {
  position: absolute;
  left: 433px;
  align-self: center;
}

.inputSection--disabled {
  opacity: 0.5;
  @include inputSection--container();
  @include inputSection--base();
}