@import '../../../../global';
$_primary-color: #4A4949;

.inputLabel {
  position: absolute;
  left: 14px;
  top: 0px;
  
  width: fit-content;
  height: 3rem;
  padding: 10px 27px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #FFF;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;

  z-index: 1;
}

.inputLabel--default,
.inputLabel--heroForm,
.inputLabel--disabled,
.inputLabel--withButton {
  color: $_primary-color;
}
 
.inputLabel--disabled {
  opacity: 0.5;
}
 
.inputLabel--withoutLabel {
  visibility: hidden;
}