.history {
  &__analytics {
    display: flex;
    gap: 5%;
    margin: 2em 2.5%;
    height: 20em;
    margin-bottom: 2em;
  }

  &__tag-freq {
    width: 60%;
  }

  &__area-freq {
    width: 40%;
  }

  &__activity>* {
    margin-bottom: 2em;
  }

  &__h2 {
    font-size: 2em;
    margin-top: 1em;
  }
}