@import "/src/styles/variables";
@import "/src/styles/global";

.search-panel {
  @include media(mobile) {
    height: $search-panel-mobile-height;
  }

  overflow: hidden;
  height: $search-panel-height;
  background-color: $secondary-color;
  font-size: 0.6rem;

  &__container {
    @include container-main;

    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    padding: 2em 1em;
  }

  &__tag {
    display: flex;
    flex-wrap: wrap;
    gap: 5em;

    &__manage {
      display: flex;
      flex-grow: 1;
      flex-flow: column;
      gap: 1em;
      max-width: 70%;

      &__search {
        width: 20em;
      }

      &__recommend,
      &__storage {
        height: 10rem;
        padding: 1em;
        border-radius: 0.2em;

        // background-color: white;
      }
    }

    &__sorting {
      width: 20em;
    }
  }

  &__keyword {
    display: flex;
    gap: 2em;
    justify-content: center;
    width: 100%;

    &__bar {
      width: 80%;
    }
  }

  &__control {
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5em;
    font-size: 1.2em;
  }

  // components
  &__h2 {
    margin-bottom: 1em;
    color: white;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    width: 100%;
    font-size: 1.2em;
  }
}
