@import "/src/styles/variables";
@import "/src/styles/global";

.card-row {
  @include media(mobile, tablet, laptop) {
    flex-direction: column;
    height: fit-content;
  }

  display: flex;
  gap: 2em;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 15em;
  padding: 2em 1em;
  background-color: white;

  &__image {
    @include media(mobile, tablet, laptop) {
      width: 100%;
      max-width: 100%;
      height: 15em;
    }

    flex-shrink: 1;
    object-fit: contain;
    max-width: 20%;
    height: 100%;
    border: 1px solid $secondary-font-color;
  }

  &__content {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    gap: 0.5em;
    justify-content: space-between;
    width: 40%;
    height: 100%;

    &__tags {
      @include media(mobile, tablet, laptop) {
        margin: 0 auto;
      }

      display: flex;
      flex-wrap: no-wrap;
      gap: 1em;
      font-size: 0.8em;
    }

    &__title {
      @include media(mobile, tablet, laptop) {
        width: 80%;
        margin: 0 auto;
        text-align: center;
      }

      overflow: hidden;
      height: calc(1.5 * 3em);
      line-height: 1.5em;
      text-align: justify;
    }

    &__detail {
      @include media(mobile, tablet, laptop) {
        display: none;
      }
    }
  }

  &__control {
    @include media(mobile, tablet, laptop) {
      width: 100%;
    }

    width: fit-content;
    height: 100%;
  }
}
