// components/Card/Row
@import "~/src/variables";
@import "~/src/_global";

@import '~/src/_variables';

.card-column {
  display: flex;
  align-items: center;
  gap: 2em;

  height: 15rem;
  width: 100%;
  padding: 2em 1em;

  overflow: hidden;

  @include media(mobile, tablet) {
    flex-direction: column;
    height: fit-content;
  }


  &__image {
    width: 10em;
    height: 100%;
    object-fit: contain;
    border: 1px solid $secondary-font-color;

    @include media(mobile, tablet) {
      width: 100%;
      height: 15em;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 2;
    gap: 0.5em;
    height: 100%;

    &__tags {
      display: flex;
      flex-wrap: wrap;
      gap: 1em;

      @include media(mobile, tablet) {
        margin: 0 auto;
      }
    }

    &__title {
      text-align: justify;

      @include media(mobile, tablet) {
        text-align: center;
        width: 80%;
        margin: 0 auto;
      }
    }

    &__detail {
      @include media(mobile, tablet) {
        display: none;
      }
    }
  }

  &__control {
    width: fit-content;
    height: 100%;

    @include media(mobile, tablet) {
      width: 100%;
    }
  }

}