@import '~/src/_variables';
@import '~/src/_global';

.navbar__item {
  all: initial;
  position: relative;

  line-height: 1.2em;
  cursor: pointer;

  @include media(desktop, laptop) {
    &::before {
      content: "";
      position: absolute;
      width: 25%;
      height: 2px;
      background-color: $primary-font-color;
      border-radius: 14px;
      bottom: 0;
      transition: 0.2s ease-out;
    }

    &:hover {
      &::before {
        width: 100%;
      }
    }
  }

  @include media(mobile, tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__backdrop {
    position: fixed;
    z-index: $zindex-modal-backdrop;
    top: 0;
    right: 0;

    width: 100vh;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5)
  }
}