@import '~/src/_global';

.comment-panel {

  padding: 1em;

  background-color: white;
  border-radius: 1em;

  &__control {
    display: flex;
    gap: 1em;
    margin-top: 1em;
  }

  &__content {
    width: 100%;
    padding: 1em;
    font-size: 1.3em;
  }
}