@import "~/src/global";

.comment-panel {
  padding: 1em;
  background-color: white;
  border-radius: 1em;

  &__control {
    display: flex;
    gap: 1em;
    margin-top: 1em;
  }

  &__content {
    padding: 1em;
    width: 100%;
    font-size: 1.3em;
  }
}
