@import "/src/styles/variables";
@import "/src/styles/global";

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex-modal-backdrop;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(91 112 131 / 40%);

  &__inner {
    @include media(mobile, tablet) {
      align-self: flex-end;
      width: 100vw;
      height: 70vh;
    }

    padding: 1em;
    border-radius: 0.3em 0.3em 0 0;
    background-color: white;
  }
}
