@import "/src/styles/variables";

// responsive
$min-breakpoints: (mobile: 0,
tablet: 481px,
laptop: 769px,
desktop: 1025px);
$max-breakpoints: (mobile : 480px,
tablet:768px,
laptop: 1024px,
desktop: 3000px);

@mixin media($keys...) {
  @each $key in $keys {
    @media (max-width: map-get($max-breakpoints, $key)) and (min-width: map-get($min-breakpoints, $key)) {
      @content;
    }
  }
}

// scoll
@mixin scrollbar() {
  &::-webkit-scrollbar-track {
    border-radius: 1.5px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1.5px;
    background-color: $primary-font-color;
  }
}

// container
@mixin container-main {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}
