@import "/src/styles/variables";
@import "/src/styles/global";

.home {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 1em;

  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 1em;

    >.button {
      @include media(mobile, tablet) {
        text-decoration: underline;
      }
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
  }

  &__card-container {
    @include media(mobile, tablet) {
      flex-direction: column;
      gap: 0;
    }

    display: flex;
    gap: 1em;
    justify-content: space-between;
  }
}
