@import "/src/styles/variables";
@import "/src/styles/global";
@import "../index";

.form-input {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  font-size: 1em;

  &__container {
    position: relative;
    height: 3em;
  }

  &__label {
    @include style-label;
  }

  &__input {
    @include style-input;

    &::placeholder {
      color: $secondary-font-color;
    }

    &:invalid {
      border-color: $danger-color;
    }
  }

  &.disabled {
    opacity: 0.5;
  }

  &__error-message {
    position: absolute;
    bottom: -2em;
    color: $danger-color;
    font-size: 0.8em;
  }
}
