@import "~/src/_variables";

.form-input {
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;

  color: $primary-font-color;

  &__label {
    position: absolute;
    left: 0.6em;

    padding: 0 .5em;

    background-color: #FFF;

    z-index: $zindex-dropdown-label;

    &--withoutLabel {
      visibility: hidden;
    }
  }

  &__section {
    position: relative;
    padding-top: 1em;

    &__input {
      border: 1px solid $secondary-font-color;
      border-radius: .5em;
      padding: 1em;
      width: 100%;
    }

    &::placeholder {
      color: $secondary-font-color;
    }

    &:focus {
      outline: 1.5px $primary-color solid;
    }

    &__button {
      position: absolute;
      left: 433px;
      align-self: center;
    }

    &__error-Message {
      color: red;
      font-size: 0.8em;
      display: none;
    }
  }
}


.form-input input:invalid~span {
  display: block;
}

.disabled {
  opacity: 0.5;
}