@import "~/src/variables";

.form-input {
  position: relative;
  display: flex;
  width: 100%;
  height: fit-content;
  font-size: 1rem;
  color: $primary-font-color;
  flex-direction: column;

  &__label {
    position: absolute;
    left: 0.6em;
    padding: 0 0.5em;
    background-color: #fff;
    z-index: $zindex-dropdown-label;

    &--withoutLabel {
      visibility: hidden;
    }
  }

  &__section {
    position: relative;
    margin-top: 1rem;

    &__input {
      padding: 1em;
      width: 100%;
      border: 1px solid $secondary-font-color;
      border-radius: 0.5em;
      line-height: 1rem;
    }

    &::placeholder {
      color: $secondary-font-color;
    }

    &:focus {
      outline: 1.5px $primary-color solid;
    }

    &__button {
      position: absolute;
      left: 433px;
      align-self: center;
    }

    &__error-Message {
      display: none;
      font-size: 0.8em;
      color: red;
    }
  }
}

.form-input input:invalid ~ span {
  display: block;
}

.disabled {
  opacity: 0.5;
}
