@import "/src/styles/variables";
@import "/src/styles/global";
@import "../index";

@mixin preferences-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  border-radius: 0.3em;
  background-color: white;
}

.preferences {
  @include user-main-container;

  &__default {
    @include preferences-container;

    &__storage {
      display: flex;
      gap: 1em;
    }

    &__control {
      display: flex;
      gap: 1em;
      justify-content: flex-end;
      align-items: flex-end;
      width: 100%;
      margin-left: auto;
      padding-top: 1em;
      border-top: 3px solid $primary-color;
      font-size: 0.8em;

      &__search-bar {
        font-size: 0.8em;
      }

      &__buttons {
        display: flex;
        gap: 1em;
        height: 2em;
      }
    }
  }

  &__history {
    @include preferences-container;
  }

  h3 {
    margin-bottom: 1em;
  }
}
