@import "~/src/global";
@import "~/src/variables";

.preferences {
  &__h2 {
    color: $primary-font-color;
    font-size: 1.5em;
  }

  &__history {
    display: flex;
    flex-wrap: wrap;

    .history__container {
      @include media(mobile) {
        flex-grow: 1;
      }

      @include media(tablet) {
        flex-grow: 0.5;
      }

      display: flex;
      flex-grow: 0.25;
      flex-direction: column;
      gap: 10px;
      margin: 10px;
    }
  }

  &__default-tags {
    display: flex;
    flex-direction: column;
    margin-top: 2em;

    &__control {
      @include media(mobile, tablet) {
        flex-direction: column;
      }

      display: flex;
      justify-content: space-between;

      &__right {
        @include media(mobile, tablet) {
          gap: 0.5em;
          justify-content: space-between;
        }

        display: flex;
        gap: 1em;
        align-items: baseline;

        &__search-bar {
          flex-grow: 0.4;
        }

        &__buttons {
          @include media(mobile) {
            flex-direction: column;
            gap: 0.5em;
            align-items: flex-end;
            margin-right: 1em;

            .button {
              padding: 0.4em 0.8em;
            }
          }

          display: flex;
          flex-grow: 0.6;
          gap: 1em;
          justify-content: flex-end;
          align-self: flex-end;
          height: fit-content;
        }
      }
    }

    &__container {
      display: flex;
      flex-wrap: wrap;
      gap: 1em;
      margin: 0.5em;
      padding: 2em;
      border: 1px solid $primary-font-color;
      border-radius: 1em;
    }
  }
}
