@import "~/src/variables";

.card {
  height: 100%;
  padding: 26px 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;

  background: #FFFFFF;

  border-radius: 11px;

  &__image {
    width: 100%;
    height: fit-content;
    object-fit: cover;
    border-radius: 11px;
    flex-grow: 0.4;
  }

  &__title {
    line-height: 1em;
  }

  &__tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  &__detail {
    color: $primary-font-color;
    font-size: 0.8em;
  }
}

.card-column {
  width: 100%;
  height: 11rem;
  padding: 26px 30px;
  display: flex;
  justify-content: flex-start;

  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset -2px -4px 6px rgba(153, 153, 153, 0.25);
  border-radius: 11px;

  &__image {
    height: 100%;
    width: 10em;
    object-fit: cover;
    border: 1px solid $secondary-font-color;
    border-radius: 11px;
    margin-bottom: 1.25rem;
  }

  &__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  &__tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.25rem 0px;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  &__content {
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 5px;
    justify-content: center;
  }
}