.card {
  width: 298px;
  height: 375px;
  padding: 26px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // test
  margin: 20px;
  
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset -2px -4px 6px rgba(153, 153, 153, 0.25);
  border-radius: 11px;

  &__image {
    width: 13rem;
    height: 12rem;

    background-image: url("https://p2.bahamut.com.tw/HOME/creationCover/29/0004566029_B.JPG");
    background-size: cover;
    background-position: center;
    border: 1px solid #4A4949;
    border-radius: 11px;
    margin-bottom: 1.25rem;

    align-self: center;
  }

  &__title {
    margin-bottom: 1rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  &__tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.25rem 0px;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
}
