@import "/src/styles/variables";
@import "/src/styles/global";

.sidebar {
  @include media(mobile, tablet) {
    flex-direction: row;
  }

  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
}
