@import "/src/styles/variables";
@import "/src/styles/global";

.sidebar {
  flex-grow: 1;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);

  &__container {
    @include media(mobile, tablet) {
      &--expended {
        transform: translateX(0);
      }
    }

    @include media(laptop, desktop) {
      &:hover {
        transform: translateX(0);
      }
    }

    position: fixed;
    z-index: $zindex-modal-panel;
    display: flex;
    width: fit-content;
    transform: translateX(-9rem);
    transition: all 0.5s ease-out;
  }

  &__toggle-button {
    z-index: $zindex-modal-panel;
    width: fit-content;
    height: fit-content;
    margin-top: 1em;
    padding: 1em;
    border-radius: 0 50% 50% 0;
    background-color: white;
    box-shadow: 6px 2px 6px 0 rgb(0 0 0 / 20%), 8px 4px 16px 0 rgb(0 0 0 / 19%);
  }
}
