@import "/src/styles/variables";
@import "/src/styles/global";

.sidebar {
  @include media(mobile, tablet) {
    flex-direction: row;
  }

  display: flex;
  flex-direction: column;
  gap: 0.5em;
  overflow-x: scroll;
  padding: 1em;

  &::-webkit-scrollbar {
    height: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary-font-color;
  }

  &::-webkit-scrollbar-button {
    color: red;
  }
}
