@import "~/src/global";

.vote-panel {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 80vh;
  padding: 1em;

  &__item {
    display: flex;
    gap: 1em;
    justify-content: space-between;
  }

  .search-tag {
    @include media(mobile) {
      width: 80%;
    }
  }
}
