@import "/src/styles/variables";
@import "/src/styles/global";
@import "../index";

.manage {
  @include user-main-container;

  &__activity {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    .card {
      @include media(laptop, desktop) { width: 15em; }

      @include media(mobile, tablet) {
        flex-direction: column;
        height: fit-content;

        &__image {
          height: 8em;
        }
      }

      height: auto;
    }
  }

  &__navbar {
    display: flex;
    gap: 1em;
  }
}
