@import '~/src/_global';

.manage {

  background-color: transparent;

  &__activity {
    border: 1px solid $secondary-font-color;
    border-radius: 1em;

    >div:nth-child(2n) {
      border-top: 1px solid $secondary-font-color;
    }

    >* {

      &:hover {
        box-shadow: 0 3px 2em rgba(0, 0, 0, 0.16)
      }
    }
  }
}