@import "/src/styles/variables";
@import "/src/styles/global";

.feature {
  @include media(mobile, tablet) {
    flex-direction: column;
  }

  @include container-main;

  display: flex;
  align-items: center;
  height: $home-section-height;

  &__left {
    width: 50%;

    img {
      width: 80%;
    }
  }
  .jupiter-cls-1 { fill: #c78555; }
  .jupiter-cls-2 { fill: #f9b56b; }
  .jupiter-cls-3 { fill: #b66247; }
  .jupiter-cls-4 { fill: #dd935e; }
  .jupiter-cls-5 { fill: #c98d62; }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: space-between;
    width: 60%;
  }
}
