@import "/src/styles/variables";
@import "/src/styles/global";

.banner {
  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    background-color: $primary-color;
  }

  &__h1 {
    color: white;
    font-weight: 400;
  }
}
