@import '~/src/_variables';
@import '~/src/_global';
$_unselected-color: #717171;
$_focus-color: #FEF6D8;

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 10em;

  font-size: 1.5rem;

  &__label {
    position: absolute;
    left: 10px;
    top: -22px;

    padding: 0 .5em;

    background-color: #FFF;

    font-size: 1em;
    
    z-index: 1;
    
    @include fit-container;
    @include items-center;
  }

  &__selected {
    position: relative;

    display: flex;
    align-items: center;
    padding: .5em;
    border: 1px solid $secondary-font-color;
    border-radius: 8px;
    margin-bottom: .25em;
    
    color: $_unselected-color;
    
    cursor: pointer;

    &__icon {
      position: absolute;
      right: 1em;

      margin: 0;
      scale: 2.5;
      transition: all 0.8s;
      @include items-center;
    };

    &__icon--active {
      transform: rotateX(180deg);
    };
  }

  &__selected--select {
    color: $primary-font-color;
  }

  &__option-container {
    max-height: 0;
    width: 100%; 

    font-weight: 400;
    color: $primary-font-color;
  
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;

    &__option {
      padding: .25em .5em .25em;
    }
    &__option .option__radio {
      display: none;
    }
    &__option:hover {
      background-color: $_focus-color;
    }
    &__option,
    &__option > *{
      cursor: pointer;
    }
  };

  &__option-container::-webkit-scrollbar {
    border-radius: 0 8px 8px 0;
    width: .25em;
  }

  &__option-container::-webkit-scrollbar-thumb {
    border-radius: 0 8px 8px 0; 
    background-color: #000;
  } 

  &__option-container--active {
    max-height: 10em;
    border: 1px solid $secondary-font-color;
    border-radius: 8px;

    opacity: 1;
    overflow-y: scroll;
  };
}
