@import '~/src/_variables';
@import '~/src/_global';
$_unselected-color: #717171;
$_focus-color: #FEF6D8;

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 10em;
  margin-top: 1.2em;

  font-size: 1em;

  &__label {
    position: absolute;
    left: 0.6em;
    top: -1em;

    padding: 0 .5em;

    background-color: #FFF;

    font-size: 1.2em;

    z-index: 1;

    @include fit-container;
    @include items-center;
  }

  &__selected {
    position: relative;

    display: flex;
    align-items: center;
    padding: .5em;
    border: 1px solid $secondary-font-color;
    border-radius: .5em;
    margin-bottom: .5em;

    color: $_unselected-color;

    cursor: pointer;

    &__icon {
      position: absolute;
      right: 1em;

      margin: 0;
      scale: 2.5;
      transition: all 0.8s;
      @include items-center;
    }

    ;

    &__icon--active {
      transform: rotateX(180deg);
    }

    ;
  }

  &__selected--select {
    color: $primary-font-color;
  }

  &__option-container {
    position: absolute;
    top: 3em;
    z-index: 2;
    display: flex;
    flex-direction: column;

    max-height: 0;
    width: 100%;

    font-weight: 400;
    color: $primary-font-color;
    background-color: white;

    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 10px 22px 4px rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 0px 10px 22px 4px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 10px 22px 4px rgba(0, 0, 0, 0.21);

    &__option {
      padding: 0.5em 1em;
      background-color: white;
      border-color: white;
      border-style: none;
      text-align: left;
    }

    &__option .option__radio {
      display: none;
    }

    &__option:hover {
      background-color: $_focus-color;
    }

    &__option,
    &__option>* {
      cursor: pointer;
    }
  }

  ;

  &__option-container::-webkit-scrollbar {
    border-radius: 0 8px 8px 0;
    width: .25em;
  }

  &__option-container::-webkit-scrollbar-thumb {
    border-radius: 0 8px 8px 0;
    background-color: #000;
  }

  &__option-container--active {
    max-height: 10em;
    border: 1px solid $secondary-font-color;
    border-radius: 8px;

    opacity: 1;
    overflow-y: scroll;
  }

  ;
}