@import "~/src/variables";
@import "~/src/global";

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;
  color: $primary-font-color;
  font-size: 1rem;

  &__label {
    position: absolute;
    left: 0.6em;
    z-index: $zindex-dropdown-label;
    padding: 0 0.5em;
    background-color: #fff;
  }

  &::-ms-expand {
    display: none;
  }

  &__select {
    position: relative;
    margin-top: 1rem;
    padding: 1em 3.5em 1em 1em;
    border-color: $secondary-font-color;
    border-radius: 4px;
    background-color: white;

    // arrow
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) 50%,
      calc(100% - 15px) 50%,
      calc(100% - 2.5em) 50%;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    line-height: 1rem;

    /* reset */
    box-sizing: border-box;
    appearance: none;

    &:focus {
      background-image:
        linear-gradient(45deg, gray 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, gray 50%),
        linear-gradient(to right, #ccc, #ccc);
      background-position:
        calc(100% - 15px) 50%,
        calc(100% - 20px) 50%,
        calc(100% - 2.5em) 50%;
      background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
      background-repeat: no-repeat;
      outline: 0;
    }
  }

  // style the tooltips
  select {
    option[title] {
      &::before {
        content: attr(title);
        position: absolute;
        top: calc(100% + 5px);
        left: 0;
        z-index: 1;
        padding: 5px 10px;
        border-radius: 3px;
        color: #fff;
        white-space: nowrap;
        background: #333;
      }

      &:hover::before {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
