@import '~/src/_variables';
@import '~/src/_global';

.dropdown {
  position: relative;
  float: left;
  font-size: 1rem;
  margin-top: 0.8em;

  &__label {
    position: absolute;
    top: -0.8em;
    left: 0.5em;
    padding: 0 0.2em;
    background-color: white;
  }

  &::-ms-expand {
    display: none;
  }

  &__select {

    // reset default apperance
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    display: block;
    width: fit-content;
    height: 50px;
    float: right;
    padding-left: 1em;
    padding-right: 4em;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid $secondary-font-color;
    border-radius: 0.4em;
    -ms-word-break: normal;
    word-break: normal;

    outline: none;
  }


  &::after {
    content: '<>';
    font: 17px "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 0;
    /*Adjust for position however you want*/

    top: 0.6em;
    padding: 0 0.5em 0.5em;
    height: fit-content;
    border-bottom: 0.6px solid #999;
    /*left line */
    position: absolute;
    pointer-events: none;
  }
}