@import "~/src/variables";

.input-file {
  padding: 0.5em;
  font-size: 1rem;
  color: white;
  background-color: $primary-color;
  border-radius: 0.4em;
  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    filter: brightness(85%);
  }

  +input[type="file"] {
    display: none;
  }
}
