@import "~/src/variables";
@import "~/src/global";

.search {
  display: flex;
  overflow-y: auto;
  margin: 0 auto;
  padding: 3em;
  font-size: 0.8em;
  color: $primary-font-color;
  background-color: #f8f8f8;
  flex-direction: column;

  @include media(mobile, tablet) {
    flex-direction: column;
    height: 100%;
  }

  &__tag {
    display: flex;
    margin-top: 1em;

    @include media(mobile, tablet) {
      flex-direction: column;
    }

    .tag-manage {
      display: flex;
      margin-top: 1em;
      width: 70%;
      flex-direction: column;
      flex-grow: 0.7;
      gap: 1em;

      @include media(mobile, tablet) {
        width: 100%;
        height: fit-content;
      }

      @include media(desktop, laptop) {
        margin-right: 2em;
        height: 70vh;
      }
    }

    .tag-recommend,
    .tag-storage {
      display: flex;
      margin-right: 1em;
      height: 33%;
      flex-direction: column;
      gap: 5px;
      justify-items: flex-end;
    }

    .tag-sorting {
      display: flex;
      width: 20em;
      height: 100%;
      flex-direction: column;
      gap: 5px;

      @include media(mobile, tablet) {
        width: 100%;
      }
    }
  }

  &__h2 {
    font-size: 1.5rem;
  }

  &--flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;

    @include media(mobile, tablet) {
      flex-wrap: nowrap;
      overflow-x: auto;
    }
  }
}
