@import '~/src/_variables';

.search {
  z-index: 2;

  display: flex;
  flex-direction: column;

  padding: 3em;
  height: 50em;
  width: 100em;

  border-radius: 15px;

  font-size: 0.8em;

  background-color: #f8f8f8;
  color: $primary-font-color;

  &__tag {
    display: flex;
    margin-top: 1em;

    .tag-manage {
      display: flex;
      flex-direction: column;
      gap: 1em;
      flex-wrap: wrap;
      margin-top: 1em;
      width: 70%;
    }

    .tag-recommend,
    .tag-storage,
      {
      display: flex;
      flex-direction: column;
      gap: 5px;
      height: 33%;
      justify-items: flex-end;
    }

    .tag-sorting {
      display: flex;
      flex-direction: column;
      gap: 5px;
      height: 100%;
    }

  }

  &__h2 {
    font-size: 1.5rem;
  }

  &--flex {
    display: flex;
    gap: 1em;
  }
}