@import '~/src/_variables';
@import '~/src/_global';

.login-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  @include fit-container;

  &__title {
    font-size: 3rem;
    @include fit-container;
  }

  &__btn-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 1rem;
    scale: 1.4;
  }

  &__btn-footer {
    margin-top: 1rem;
    scale: 1.4;
  }
}

 