@import '~/src/_variables';
@import '~/src/_global';

$_warning-color: #cc3300;

button {
  outline: 0;
  border: 0;
  background-color: #FFF;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  min-width: 20rem  ;
  margin: 0 auto;
  height: fit-content;
  transform: translateY(-20px);
}

.login-section {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  background-color: #FFF;
  scale: 0.7;

  &__title {
    font-size: 3rem;
    align-self: center;
    @include fit-container;
  }

  &__text-field {
    margin-top: 2.5rem;
    margin-bottom: .5rem;
    font-size: 31px;
    scale: 0.93;
  }

  &__btn-group {
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 3rem;
    margin-bottom: 2rem;
    scale: 1.4;
  }

  &__btn-footer {
    align-self: center;
    margin-top: 1rem;
    scale: 1.4;
  }

  &__check-persist-section {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-left: 2rem;
  }
  &__check-persist-section input {
    scale: 1.2;
  }
}

.other-login-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  margin: 8rem;
}

.or-aside {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3px;
  height: 22rem;
  background-color: rgba(154, 133, 133, 0.5);

  &::after {
    content: 'or';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 4rem;
    background-color: #FFF;
    color: rgba(154, 133, 133);
    font-size: 2rem;
  }
}

.errmsg {
  align-self: center;
  color: $_warning-color;
  font-size: 30px;
  font-weight: bold;
  transform: translateY(-20px);
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.instructions {
  margin-left: 20px;
  color: $_warning-color;
  font-weight: 600;
  
  & > * {
    color: $_warning-color;
    margin-left: .3rem;
  }
} 

.pwd-instructions {
  margin-left: 20px;
  margin-top: 5px;
  color: $_warning-color;
  font-weight: 600;
  
  & > * {
    color: $_warning-color;
    margin-left: .3rem;
  }
} 