@import '~/src/_global';
@import '~/src/_variables';

.user {
  &__container {
    display: flex;
  }

  &__main-content {
    margin: 0 auto;
    width: 80%;
    min-height: 100vh;

    @include media(mobile, tablet) {
      width: 100%;
    }
  }
}