@import "/src/styles/variables";
@import "/src/styles/global";

.user {
  &__container {
    @include media(mobile,tablet) {
      flex-direction: column;
    }

    display: flex;
  }

  &__main-content {
    @include media(mobile, tablet) {
      width: 100%;
      padding-top: $sidebar-height;
      padding-left: 0;
    }

    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    padding-left: $sidebar-width;
  }
}
