@import "~/src/_variables";
@import '~/src/_global';


.trend-activity {
  display: flex;
  flex-direction: column;
  gap: 1em;


  &__header {
    display: flex;
    justify-content: space-between;

    .button {
      height: 3em;

      @include media(mobile, tablet) {
        text-decoration: underline;
      }
    }
  }

  &__items {
    display: flex;
    gap: 1em;
    justify-content: center;


    @include media(mobile, tablet) {
      flex-direction: column;
      gap: 0em;

    }
  }


}