@import '~/src/_variables';

.crop-back {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: $zindex-modal-backdrop;
  background-color: rgba($color: #b6b6b6, $alpha: 0.5);
}

.crop-panel {
  background-color: white;
  position: absolute;
  top: 25%;
  left: 43%;
  z-index: $zindex-modal-panel;

  font-size: 1.2rem;
  padding: 2em;

  &__container {
    // background-color: #b6b6b6;
    position: relative;
    width: 100%;
    height: 20rem;
    background: '#333';
  }

  &__control {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &__slider {
    display: flex;
    align-items: center;
  }

  &__buttons {
    display: flex;
    gap: 1em
  }

}