@import "~/src/variables";
@import "~/src/global";

.crop-panel {
  padding: 2em;
  font-size: 1.2rem;
  background-color: white;
  z-index: $zindex-modal-panel;

  @include media(mobile) {
    width: 90%;
  }

  &__container {
    position: relative;
    width: 100%;
    height: 20rem;
    background: "#333";
  }

  &__control {
    display: flex;
    align-items: stretch;
    padding: 16px;
    flex-direction: column;
  }

  &__scroll {
    display: flex;
    align-items: center;
  }

  &__buttons {
    display: flex;
    gap: 1em;
  }
}
