.popup {
  position: absolute;
  top: 15%;
  z-index: 1;
  width: 80%;

  &__close-button {
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &__back {
    height: 100%;
    width: 100%;
    
  }
}