@import '~/src/_variables';
@import '~/src/_global';

.header {
  position: relative;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-grow: 0;

  width: 100%;
  height: $header-height;
  padding: 1em 2em;
  margin: 0 auto;

  background-color: #FFF;

}