@import "~/src/variables";
@import "~/src/global";

.header {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1em 2em;
  width: 100%;
  height: $header-height;
  background-color: #fff;
  flex-grow: 0;
}
