.hero__card-roll {
  >&.swiper {
    width: 240px;
    height: 320px;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    user-select: none;
  }

  .swiper-button-prev,
  .swiper-button-next {
    padding: 1.5em;
    border-radius: 50%;
    background-color: rgb(210 210 210);
    color: white;
    animation: all 0.5s;
    transition: all 0.4s;

    &::after {
      font-weight: bold;
      font-size: 1em;
    }
  }

  .swiper-button-next {
    right: -5em;
  }

  .swiper-button-prev {
    left: -5em;
  }

  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    background-color: rgb(57 55 55);
  }

  .swiper-button-prev:active,
  .swiper-button-next:active {
    transform: scale(1.3);
  }
}
