@import "/src/styles/variables";
@import "/src/styles/global";

.comment {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
  padding: 1em;
  border-radius: 0.2em;
  box-shadow: rgb(0 0 0 / 10%) 0 4px 12px;

  &__username {
    display: flex;
    gap: 5px;
    align-items: center;

    &__portrait {
      width: 2.5em;
      height: 2.5em;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }

  &__detail {
    display: flex;
    align-items: center;
    font-size: 1em;

    &__time > p {
      font-size: 0.8em;
    }
  }
}
