@import "/src/styles/variables";
@import "/src/styles/global";

.search__pagination {
  @include container-main;

  display: flex;
  margin: 1em auto;

  &__main,
  &__prev,
  &__next {
    display: flex;
    gap: 1em;
    justify-content: center;
  }

  &__main {
    display: flex;
    flex-grow: 0;
  }

  &__prev,
  &__next {
    flex-grow: 1;
  }
}
