@import '~/src/_variables';

.navbar {
  height: fit-content;
  width: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: 'Inter';
  font-size: 1rem;

  &__logout-btn {
    position: absolute;
    right: 10rem; 
  }

  &__item {
    all: initial;
    position: relative;
    height: 34px;
    color: $primary-font-color;
    text-decoration: none;

    font-weight: bolder;
    font-size: 1em;

    &::before {
      content: "";
      position: absolute;
      width: 25%;
      height: 2px;
      background-color: $primary-font-color;
      border-radius: 14px;
      bottom: 0;
      transition: 0.2s ease-out;
    }

    &:hover {
      &::before {
        width: 100%;
      }
    }

  }
}

