@import '~/src/_global';

.forgot-pwd {
  width: 100vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__title {
    font-size: 1.5rem;
    margin: 2rem 0;
  }
  &__subtitle {
    font-size: 1rem;
  }

  &__text-field {
    width: 25vw;
    margin-bottom: 1rem;

    @include media(tablet, laptop, desktop) {
      min-width: 20rem;
    }
    @include media(mobile) {
      width: 80vw;
    }
  }
  &__submit-btn {
    margin: 2rem 0;
  }
  &__back-btn {
    font-size: .8rem;
    font-weight: 600;
    opacity: 0.55;
  }
}