@import "/src/styles/variables";
@import "/src/styles/global";

.result__banner {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: $primary-color;

  &__h1 {
    color: white;
  }
}
