@import "/src/styles/variables";
@import "/src/styles/global";

.navbar__dropdown {
  @include media(mobile, tablet) {
    position: fixed;
    top: 0;
    right: 0;
    z-index: $zindex-modal-panel;
    height: 100%;
    box-shadow: 0 0 0 1600px rgb(0 0 0 / 65%);
  }

  position: absolute;
  top: calc($header-height - 8px);
  z-index: $zindex-dropdown;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 130px;
  padding: 0.2em;
  border: 1px solid $secondary-font-color;
  border-radius: 0.2em;
  background-color: white;
  transition: height 0.3s;
}
