@import "~/src/variables";
@import "~/src/global";

.navbar__dropdown {
  position: absolute;
  display: flex;
  overflow: hidden;
  padding: 0.2em;
  width: 8em;
  background-color: white;
  border: 1px solid $secondary-font-color;
  border-radius: 0.2em;
  z-index: $zindex-dropdown;
  transition: height 0.3s;
  flex-direction: column;

  @include media(mobile, tablet) {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    z-index: $zindex-modal-panel;
  }
}
