@import "~/src/global";
@import "~/src/variables";

.manage-nav__button {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 2em;
  padding-bottom: 0.5em;
  font-weight: 300;
  font-size: 1rem;
  cursor: pointer;
  transition: all 1s ease;

  &__icon {
    display: flex;
    align-items: center;
    justify-items: center;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 2px;
    margin: 0;
    border-radius: 14px;
    background-color: $primary-font-color;
    transition: 0.2s ease-out;
  }

  &:active {
    scale: 1.2;
  }

  &.focus {
    &::before {
      width: 100%;
    }
  }
}
