@import "/src/styles/variables";
@import "/src/styles/global";

.search__error-page {
  @include container-main;

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
}
