@use "sass:color";
@import "/src/styles/variables";
@import "/src/styles/global";

.text-editor {
  width: 75%;
  margin: 1em auto;
  padding: 1.5em;
  border: 1px solid $secondary-font-color;
  background-color: white;
  font-size: 1.3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  &__toolbar {
    position: relative;
    margin: 0 -20px;
    margin-bottom: 20px;
    padding: 1px 18px 17px;
    border-bottom: 2px solid #eee;

    & > * {
      display: inline-block;
    }

    & > * + * {
      margin-left: 15px;
    }
  }

  &__button {
    padding: 0.2em;
    border-radius: 0.2em;
    font-size: 1em;
    cursor: pointer;

    &:hover {
      filter: brightness(85%);
    }

    &.active {
      filter: brightness(85%);
    }
  }

  code {
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    background-color: rgb(238 238 238);

    >* {
      color: rgb(244 123 123);
    }
  }

  blockquote {
    position: relative;
    padding-left: 1em 0.8em 0.8em 0.8em;
    border-left: 0.2em solid color.adjust(black, $lightness: 40%);
    background-color: rgb(243 243 243);
    font-weight: 100;
    font-size: 1rem;
    line-height: 1em;
  }

  ul,
  ol {
    list-style-position: inside;
  }
}
