@import "~/src/variables";
@import "~/src/global";

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 1rem 5rem;
  width: 100%;
  background-color: $primary-dilute-color;
  flex-wrap: wrap;
  gap: 1em;

  @include media(mobile, tablet) {
    padding: 1rem;
  }

  &__pages,
  &__other {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
  }

  &__connection {
    display: flex;
    flex-direction: column;
    gap: 0.3em;

    &__social-media {
      display: flex;
      gap: 0.5em;
    }
  }

  a,
  button {
    font-size: 0.8em;
    text-decoration: underline;

    &:hover {
      color: $secondary-font-color;
    }
  }
}
