@import '~/src/_variables';
@import '~/src/_global';

.footer {
  position: absolute;
  left: 0;
  bottom: 0;

  height: fit-content;
  width: 100%;

  background-color: $primary-dilute-color;
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  flex-wrap: wrap;

  gap: 1em;

  @include media(mobile, tablet) {
    padding: 1rem;
  }


  &__pages,
  &__other {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
  }

  &__connection {
    display: flex;
    flex-direction: column;
    gap: 0.3em;

    &__social-media {
      display: flex;
      gap: 0.5em;
    }
  }


  a,
  button {
    text-decoration: underline;
    font-size: 0.8em;

    &:hover {
      color: $secondary-font-color;
    }
  }

}