@import "/src/styles/variables";
@import "/src/styles/global";

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $header-height;

  * {
    color: $primary-color;
  }
}
