@import "~/src/variables";
@import "~/src/global";

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $header-height;

  * {
    color: $primary-color;
  }
}
