@import "/src/styles/variables";
@import "/src/styles/global";

@mixin detail-section-container {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
  border-radius: 0.2em;
  background-color: white;
  text-align: justify;
}

.detail {
  background-color: $content-background-color;

  &__container {
    @include container-main;
  }

  &__hero {
    display: flex;

    &__left {
      @include detail-section-container;

      flex-shrink: 0;
      align-items: center;
      width: 40%;
      margin-right: 0;
      margin-bottom: 0;

      .detail__image {
        height: 10rem;
      }
    }

    &__right {
      @include detail-section-container;

      flex-grow: 1;
      flex-shrink: 1;
      margin-bottom: 0;
    }
  }

  &__main {
    >* {
      @include detail-section-container;
    }
  }
}
