@import "~/src/global";
@import "~/src/variables";

.detail {
  // responsive
  @include media(mobile, tablet) {
    margin: 0 5%;
    margin-top: 0;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 8%;

  // container
  &__container {
    &--intro {
      @include media(mobile, tablet) {
        flex-direction: column;
      }

      display: flex;
    }

    &--card {
      @include media(mobile, tablet) {
        width: 100%;
      }

      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
    }

    &--properties {
      @include media(mobile, tablet) {
        width: 100%;
      }

      width: 60%;
    }
  }

  // components

  * { text-align: justify; }

  &__a {
    text-decoration: underline;

    &:hover {
      color: $secondary-font-color;
    }
  }

  // DetailProperties > Property
  &__property > * {
    margin-bottom: 0.4em;
  }
}
