@import "~/src/_variables";
@import "~/src/_global";

.hero {
  width: 100%;
  height: fit-content;
  padding: 2em 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 70px;

  background-color: #FEF6D8;

  &__left {
    height: fit-content;

  }

  &__text {
    font-weight: 400;
    font-size: 48px;
    line-height: 70px;
    color: $primary-font-color;
  }

  &__left__section {
    margin-bottom: 20px;
  }

  @include media(mobile) {

    flex-direction: column;
    padding: 2em;

    &__right {
      display: none;
    }
  }

}