@import "/src/styles/variables";
@import "/src/styles/global";

.detail__property {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid $primary-font-color;

  &__location {
    border: none;
  }
}
