@import "~/src/variables";

.inputLabel {
  position: absolute;
  top: -12px;
  left: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 27px;
  width: fit-content;
  height: 3rem;
  font-size: 2rem;
  font-weight: 600;
  background-color: #fff;
  z-index: $zindex-dropdown-label;
  line-height: 39px;
}

.inputLabel--default,
.inputLabel--heroForm,
.inputLabel--disabled,
.inputLabel--withButton {
  color: $primary-font-color;
}

.inputLabel--disabled {
  opacity: 0.5;
}

.inputLabel--withoutLabel {
  visibility: hidden;
}
