@import '~/src/_variables';

// responsive
$breakpoints: (mobile : 480px,
  desktop: 960px);

@mixin media($keys...) {
  @each $key in $keys {
    @media (max-width: map-get($breakpoints, $key)) {
      @content
    }
  }
}

* {
  color: $primary-font-color;
}

.button-nostyle {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

h1 {
  font-size: 3vw;

  @include media(mobile) {
    font-size: 13vw;
    font-weight: 200;
  }
}

h2 {
  font-size: 2vw;

  @include media(mobile) {
    font-size: 8vw;
    font-weight: 200;
  }
}

h3 {
  font-size: 1.5vw;

  @include media(mobile) {
    font-size: 6vw;
    font-weight: 200;
  }
}

p {
  font-size: 1vw;

  @include media(mobile) {
    font-size: 4vw;
    font-weight: 200;
  }
}

a {
  text-decoration: none;
}