@import '~/src/_variables';

// style 
* {
  color: $primary-font-color;
}

.button-nostyle {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

h1 {
  font-size: 2vw;
}

h2 {
  font-size: 1.5vw;
}

p {
  font-size: 1vw
}

a {
  text-decoration: none;
}

// responsive
$pc-media:960px;
$pcs-media:959px;
$pad-media:760px;
$pads-media:759px;
$phone-media:480px;
$phones-media:479px;

// pc
@mixin pc-width() {
  @media all and (min-width: $pc-media) {
    @content;
  }
}

//pad
@mixin pad-width() {
  @media all and (min-width:$pad-media) and (max-width: $pcs-media) {
    @content;
  }
}

//small pad
@mixin small-pad-width() {
  @media all and (min-width: $phone-media) and (max-width:$pads-media) {
    @content;
  }
}

//phone
@mixin phone-width() {
  @media all and (max-width: $phones-media) {
    @content;
  }
}