// color
$colors: primary,
  secondary,
  success;

$primary-color: rgb(243, 183, 85);
$secondary-color: #699FF1;
$success-color: #93C586;
$danger-color: #ff4444;

$primary-font-color: #4A4949;
$secondary-font-color: #A5A5A5;

$primary-dilute-color: rgb(246, 218, 173);
// z-index
$zindex-after-marker: -1;
$zindex-base: 1;
$zindex-dropdown-label: 990;
$zindex-dropdown: 1000;
$zindex-navbar: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal-panel: 1050;
$zindex-modal-close-btn: 1055;
$zindex-popover: 1060;
$zindex-tooltip: 1070;
$zindex-footer: 1080;

// height
$header-height: 6em;
$footer-height: 10rem;