@import '~/src/_variables';

.search {
  padding:33px;
  border-radius: 15px;

  background-color: #f8f8f8;
  color: $primary-font-color;
  display:flex;
  flex-direction: column;
  &__tag{
    display:flex;
    *{
      margin: 8px 0;
      width: 100%;
    }
  }
}

h1{
  font-size: 1.5rem;
}
h2{
  font-size: 1rem;
}