@import '~/src/_variables';

.search {
  padding:33px;
  border-radius: 15px;
  background-color: #f8f8f8;
  color: $primary-font-color;
  display:flex;
  flex-direction: column;

  &__tag{
    display:flex;
    justify-content: space-between;
    margin-top: 1em;
    &-sort{
      flex-grow:0.3;
      &-ol{
        height: 15rem;
        max-width: 100%;
        border: 1px solid $secondary-font-color;
        border-radius: 0.5em;
        margin: 1em;
        padding: 1em;
        padding-left: 1.5em
      }
      &-li{
        margin: 1em
      }
      
    }
    &-search{
      flex-grow: 0.7;
      max-width: 70%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      &-bar{
        scale:0.8;
        transform-origin: top left; 
      }
    }
    &-recommend{
      margin: 10px 0;
    }
    &-class{
      display:flex;
      gap:1em;
      flex-wrap: wrap;
      margin-top:1em;
    }
  }
}

h1{
  font-size: 1.2rem;
}
h2{
  font-size: 1rem;
}