@use "sass:color";
@import "/src/styles/variables";
@import "/src/styles/global";
@import "../index";

.search-tag {
  @include style-search-bar;

  font-size: 0.6em;

  &--expend {
    border-radius: 1em 1em 0 0;
  }

  &__suggestion {
    position: absolute;
    top: 4em;
    left: 0;
    z-index: $zindex-dropdown;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    width: inherit;
    border-radius: 0 0 1em 1em;
    background-color: white;
    outline: 1px solid $secondary-color;

    &--expend {
      display: flex;
      border-top: 0;
    }

    &__choice {
      width: 100%;
      padding: 1.5em;
      background-color: transparent;
      text-align: left;
      cursor: pointer;

      &:hover {
        background-color: color.adjust(white, $lightness: -10%);
      }

      &.selected {
        background-color: color.adjust(white, $lightness: -10%);
      }
    }
  }
}
