@import '~/src/_variables';

@mixin inputSection--base {
  border: 1px solid $secondary-font-color;
  border-radius: 15px;
  padding: 23px 10px 13px 54px;
}
@mixin formFontStyle {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 29px;
}

.inputHeroSection {
  position: absolute;
  bottom: 0;

  width: inherit;
  height: 12rem;

  @include formFontStyle;

  &::placeholder {
    color: $secondary-font-color;
  }
}

.inputHeroSection--style {
  @include inputSection--base();
}