@import "~/src/variables";

@mixin input-section-base {
  padding: 23px 10px 13px 54px;
  border: 1px solid $secondary-font-color;
  border-radius: 15px;
}

@mixin form-fontstyle {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 29px;
}

.inputHeroSection {
  position: absolute;
  bottom: 0;
  width: inherit;
  height: 12rem;

  @include form-fontstyle;

  &::placeholder {
    color: $secondary-font-color;
  }
}

.inputHeroSection--style {
  @include input-section-base;
}
