@import "/src/styles/variables";
@import "/src/styles/global";
@import "../index";

.user-account {
  @include user-main-container;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 1em;
    background-color: white;
  }

  &__input {
    @include media(mobile, tablet) {
      width: 90%;
    }

    width: 50%;
    margin: 2em 0;
  }

  &__err-msg {
    font-weight: 600;
  }

  &__button-load-animation {
    @include load-button-animation;
  }
}
