@import "/src/styles/variables";
@import "/src/styles/global";

.user-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 1em;
  background-color: white;

  &__input {
    @include media(mobile, tablet) {
      width: 90%;
    }

    width: 50%;
    margin: 2em 0;
  }

  &__button-load-animation {
    @include load-button-animation;
  }
}
