@import "~/src/variables";
@import "~/src/global";

.trend-tag {
  &__container {
    display: grid;
    margin: 0 1em;
    margin-top: 1em;
    width: 100%;
    grid-template-columns: repeat(3, 1fr 3fr);
    grid-gap: 1em 15px;

    @include media(tablet, laptop) {
      grid-template-columns: repeat(2, 1fr 3fr);
    }

    @include media(mobile) {
      grid-template-columns: 1fr 3fr;
      grid-column-gap: 0;
    }
  }

  &__count {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
