@import "/src/styles/variables";
@import "/src/styles/global";

.trend-tag {
  @include container-main;

  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    // overflow: hidden;
  }

  &__class {
    display: flex;
    flex-flow: column;

    &__tags {
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      >*:not(:last-child) {
        padding-bottom: 0.5em;
        border-bottom: 1px solid $tertiary-font-color;
      }
    }
  }

  &__item {
    display: flex;
    gap: 1em;
    align-items: center;
    margin: 0.2em 0;
    padding: 0.5em;
    border-radius: 5px;
    cursor: default;

    &__text {
      display: flex;
      flex-direction: column;

      &__title {
        font-weight: bold;
        font-size: 1.1em;

        &:hover {
          text-decoration: underline;
        }
      }

      &__description {
        color: $secondary-font-color;
        font-size: 0.8em;
      }
    }
  }

  &__rocket {
    z-index: $zindex-base;
    object-fit: contain;
    width: fit-content;
    height: 20em;
    margin: 0 auto;
  }
}
