.trend-tag {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;

  &__items {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    gap: 0.5em;
    padding-top: 1em;
  }

  &__item {
    display: flex;

  }
}