// components/Card/Row
@import "~/src/variables";
@import "~/src/global";

$_card-height: 18rem;
$_card-width: 11rem;
$_content-padding: 0.5rem;
$_card-title-font-size: 1.2em;
$_card-title-line-height: 1.5em;
$_card-detail-font-size: 0.8em;

// mobile
$_card-mobile-heigth: 10rem;
$_card-mobile-padding: 1em;

.card {
  @include media(mobile, tablet) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $_card-mobile-heigth;
    padding: $_card-mobile-padding;
    border-width: 0;
  }

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  width: $_card-width;
  height: $_card-height;
  border: 1.2px solid $tertiary-font-color;
  border-top: 0;
  cursor: pointer;
  background: #fff;

  &__image {
    @include media(mobile, tablet) {
      justify-content: center;
      width: 40%;
      height: 90%;
    }

    overflow: hidden;
    width: $_card-width;
    height: $_card-height / 2 - 1rem;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: transform 0.3s;
    }
  }

  &__content {
    @include media(mobile, tablet) {
      flex-direction: column;
    }

    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: hidden;
  }

  &__title {
    overflow: hidden;
    width: 100%;
    height:
      calc(
        $_content-padding * 2
        + $_card-title-font-size
        + $_card-title-line-height
      );
    padding: $_content-padding;
    font-size: $_card-title-font-size;
    line-height: $_card-title-line-height;
  }

  &__detail {
    padding: $_content-padding;
    color: $primary-font-color;
    font-size: 0.8em;
    text-align: justify;
    white-space: pre-wrap;
  }

  &__tag {
    @include media(mobile, tablet) {
      align-self: flex-start;
    }

    display: flex;
    flex-direction: row;
    gap: 0.3em;
    overflow: clip;
    margin-top: auto;
    padding: $_content-padding;
    padding-bottom: calc($_content-padding + 0.5em);
    font-size: 0.7em;
    text-overflow: ellipsis;
  }

  &:hover {
    img {
      transform: scale(1.3);
      transition: transform 0.3s;
    }
  }

  &::after {
    @include media(mobile, tablet) {
      width: calc(100% - $_card-mobile-padding * 2);
      height: 3px;
    }

    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 12rem;
    height: 5px;
    background-color: $primary-color;
  }
}
