@import "~/src/variables";
@import "~/src/global";

.navbar {
  @include media(desktop, laptop) {
    width: 60%;
  }

  &__nav {
    display: flex;
    align-items: baseline;
    height: fit-content;
    gap: 1em;
  }
}
