@import '~/src/_variables';
@import '~/src/_global';

.navbar {

  @include media(desktop, laptop) {
    width: 60%;
  }

  &__nav {
    height: fit-content;
    display: flex;
    gap: 1em;
    align-items: baseline;
  }
}