@import "~/src/variables";
@import "~/src/global";

.navbar {
  @include media(desktop, laptop) {
    width: 60%;
  }

  &__nav {
    display: flex;
    gap: 1em;
    align-items: center;
    height: $header-height;
  }
}
